@font-face {
    font-family: 'Courier New';
    src: url('fonts/CourierNewPS-BoldItalicMT.eot');
    src: url('fonts/CourierNewPS-BoldItalicMT.eot?#iefix') format('embedded-opentype'),
        url('fonts/CourierNewPS-BoldItalicMT.woff2') format('woff2'),
        url('fonts/CourierNewPS-BoldItalicMT.woff') format('woff'),
        url('fonts/CourierNewPS-BoldItalicMT.ttf') format('truetype'),
        url('fonts/CourierNewPS-BoldItalicMT.svg#CourierNewPS-BoldItalicMT') format('svg');
    font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
    font-family: 'Courier New';
    src: url('fonts/CourierNewPS-ItalicMT.eot');
    src: url('fonts/CourierNewPS-ItalicMT.eot?#iefix') format('embedded-opentype'),
        url('fonts/CourierNewPS-ItalicMT.woff2') format('woff2'),
        url('fonts/CourierNewPS-ItalicMT.woff') format('woff'),
        url('fonts/CourierNewPS-ItalicMT.ttf') format('truetype'),
        url('fonts/CourierNewPS-ItalicMT.svg#CourierNewPS-ItalicMT') format('svg');
    font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
    font-family: 'Courier New';
    src: url('fonts/CourierNewPS-BoldMT.eot');
    src: url('fonts/CourierNewPS-BoldMT.eot?#iefix') format('embedded-opentype'),
        url('fonts/CourierNewPS-BoldMT.woff2') format('woff2'),
        url('fonts/CourierNewPS-BoldMT.woff') format('woff'),
        url('fonts/CourierNewPS-BoldMT.ttf') format('truetype'),
        url('fonts/CourierNewPS-BoldMT.svg#CourierNewPS-BoldMT') format('svg');
    font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Courier New';
    src: url('fonts/CourierNewPSMT.eot');
    src: url('fonts/CourierNewPSMT.eot?#iefix') format('embedded-opentype'),
        url('fonts/CourierNewPSMT.woff2') format('woff2'),
        url('fonts/CourierNewPSMT.woff') format('woff'),
        url('fonts/CourierNewPSMT.ttf') format('truetype'),
        url('fonts/CourierNewPSMT.svg#CourierNewPSMT') format('svg');
    font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Courier';
    src: url('fonts/Courier.eot');
    src: url('fonts/Courier.eot?#iefix') format('embedded-opentype'),
        url('fonts/Courier.woff2') format('woff2'),
        url('fonts/Courier.woff') format('woff'),
        url('fonts/Courier.ttf') format('truetype'),
        url('fonts/Courier.svg#Courier') format('svg');
    font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('fonts/CourierPrime-Bold.eot');
    src: url('fonts/CourierPrime-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/CourierPrime-Bold.woff2') format('woff2'),
        url('fonts/CourierPrime-Bold.woff') format('woff'),
        url('fonts/CourierPrime-Bold.ttf') format('truetype'),
        url('fonts/CourierPrime-Bold.svg#CourierPrime-Bold') format('svg');
    font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Courier';
    src: url('fonts/Courier-Bold.eot');
    src: url('fonts/Courier-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Courier-Bold.woff2') format('woff2'),
        url('fonts/Courier-Bold.woff') format('woff'),
        url('fonts/Courier-Bold.ttf') format('truetype'),
        url('fonts/Courier-Bold.svg#Courier-Bold') format('svg');
    font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('fonts/CourierPrime.eot');
    src: url('fonts/CourierPrime.eot?#iefix') format('embedded-opentype'),
        url('fonts/CourierPrime.woff2') format('woff2'),
        url('fonts/CourierPrime.woff') format('woff'),
        url('fonts/CourierPrime.ttf') format('truetype'),
        url('fonts/CourierPrime.svg#CourierPrime') format('svg');
    font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Brusio';
    src: url('fonts/BrusioCondensed.eot');
    src: url('fonts/BrusioCondensed.eot?#iefix') format('embedded-opentype'),
        url('fonts/BrusioCondensed.woff2') format('woff2'),
        url('fonts/BrusioCondensed.woff') format('woff'),
        url('fonts/BrusioCondensed.ttf') format('truetype'),
        url('fonts/BrusioCondensed.svg#BrusioCondensed') format('svg');
    font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body{
	background: url(../img/fondo-lienzo.jpg);
}


html * {
	font-family: 'Courier New';
	font-size: 18px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	::selection{
		background-color: #49494928;
	}
	//text-transform: capitalize;
}

b{
	font-weight: bold;
}



$mobile-xs: 250px;
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 480px;
$tablet-s: 640px; //medium foundation
$tablet-m: 720px;
$tablet-l: 950px;
$laptop-s: 1024px; //large foundation
$laptop-m: 1100px;
$laptop-l: 1250px;
$pc-s: 1440px;
$pc-m: 1920px;
$pc-xl: 2560px;

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

:root {
	--smallest-text: calc(0.3rem + 1.2vmin);
	--smaller-text: calc(0.45rem + 1.2vmin);
	--small-text: calc(0.5rem + 1.2vmin);
	--medium-text: calc(0.8rem + 1.15vmin);
	--large-text: calc(1.0rem + 1.15vmin);
	--larger-text: calc(1.25rem + 1.1vmin);
	--largest-text: calc(1.45rem + 1.1vmin);
	--big-text: calc(1.55rem + 0.75vmin);
	--biger-text: calc(1.6rem + 0.8vmin);
	--bigest-text: calc(1.7rem + 0.85vmin);
	--huge-text: calc(1.9rem + 0.8vmin);
	--epic-text: calc(2rem + 0.78vmin);
	--giant-text: calc(2.2rem + 0.75vmin);
	--colossal-text: calc(2.4rem + 0.7vmin);


	@media only screen and (min-width: $mobile-l) {
		--smallest-text: calc(0.38rem + 1.0vmin);
		--smaller-text: calc(0.55rem + 1.0vmin);
		--small-text: calc(0.6rem + 1.0vmin);
		--medium-text: calc(0.9rem + 1.0vmin);
		--large-text: calc(1.1rem + 1.0vmin);
		--larger-text: calc(1.3rem + 1.0vmin);
		--largest-text: calc(1.5rem + 1.0vmin);
		--big-text: calc(1.7rem + 1.0vmin);
		--biger-text: calc(1.9rem + 0.95vmin);
		--bigest-text: calc(2.1rem + 0.9vmin);
		--huge-text: calc(2.1rem + 0.85vmin);
		--epic-text: calc(2.6rem + 0.82vmin);
		--giant-text: calc(2.8rem + 0.8vmin);
		--colossal-text: calc(3.0rem + 0.75vmin);
	}

	@media only screen and (min-width: $tablet-s) {
		--smallest-text: calc(0.45rem + 1.15vmin);
		--smaller-text: calc(0.63rem + 1.15vmin);
		--small-text: calc(0.75rem + 1.15vmin);
		--medium-text: calc(1.1rem + 1.15vmin);
		--large-text: calc(1.2rem + 1.15vmin);
		--larger-text: calc(1.4rem + 1.05vmin);
		--largest-text: calc(1.55rem + 1.05vmin);
		--big-text: calc(1.65rem + 1.05vmin);
		--biger-text: calc(1.75rem + 1.05vmin);
		--bigest-text: calc(1.95rem + 1.05vmin);
		--huge-text: calc(2.6rem + 1.05vmin);
		--epic-text: calc(3.2rem + 1.05vmin);
		--giant-text: calc(3.7rem + 1.05vmin);
		--colossal-text: calc(3.9rem + 1.05vmin);
	}

	@media only screen and (min-width: $tablet-m) {
		--smallest-text: calc(0.45rem + 1.0vmin);
		--smaller-text: calc(0.63rem + 1.0vmin);
		--small-text: calc(0.75rem + 1.0vmin);
		--medium-text: calc(1.1rem + 1.0vmin);
		--large-text: calc(1.2rem + 1.0vmin);
		--larger-text: calc(1.4rem + 1.0vmin);
		--largest-text: calc(1.5rem + 1.0vmin);
		--big-text: calc(1.6rem + 1.0vmin);
		--biger-text: calc(1.7rem + 0.95vmin);
		--bigest-text: calc(1.9rem + 0.92vmin);
		--huge-text: calc(2.4rem + 0.85vmin);
		--epic-text: calc(2.6rem + 0.8vmin);
		--giant-text: calc(3.05rem + 0.85vmin);
		--colossal-text: calc(3.4rem + 0.8vmin);
	}

	@media only screen and (min-width: $tablet-l) {
		--smallest-text: calc(0.6rem + 0.5vmin);
		--smaller-text: calc(0.7rem + 0.5vmin);
		--small-text: calc(0.8rem + 0.5vmin);
		--medium-text: calc(1.2rem + 0.5vmin);
		--large-text: calc(1.4rem + 0.5vmin);
		--larger-text: calc(1.60rem + 0.5vmin);
		--largest-text: calc(1.80rem + 0.5vmin);
		--big-text: calc(1.95rem + 0.6vmin);
		--biger-text: calc(2.1rem + 0.7vmin);
		--bigest-text: calc(2.5rem + 0.7vmin);
		--huge-text: calc(2.75rem + 0.8vmin);
		--epic-text: calc(3.0rem + 0.8vmin);
		--giant-text: calc(3.4rem + 0.8vmin);
		--colossal-text: calc(3.7rem + 0.8vmin);
	}


	@media only screen and (min-width: $laptop-s) {
		--smallest-text: 0.8rem;
		--smaller-text: 0.9rem;
		--small-text: 1.09rem;
		--medium-text: 1.28rem;
		--large-text: 1.47rem;
		--larger-text: 1.68rem;
		--largest-text: 1.85rem;
		--big-text: 2.08rem;
		--biger-text: 2.28rem;
		--bigest-text: 2.58rem;
		--huge-text: 3.18rem;
		--epic-text: 3.68rem;
		--giant-text: 4.18rem;
		--colossal-text: 4.45rem;
	}

	@media only screen and (min-width: $laptop-m) {
		--smallest-text: 0.85rem;
		--smaller-text: 0.95rem;
		--small-text: 1.16rem;
		--medium-text: 1.38rem;
		--large-text: 1.52rem;
		--larger-text: 1.74rem;
		--largest-text: 1.89rem;
		--big-text: 2.1rem;
		--biger-text: 2.3rem;
		--bigest-text: 2.6rem;
		--huge-text: 3.2rem;
		--epic-text: 3.7rem;
		--giant-text: 4.2rem;
		--colossal-text: 4.6rem;
	}

	@media only screen and (min-width: $laptop-l) {
		--smallest-text: 0.79rem;
		--smaller-text: 0.91rem;
		--small-text: 1.12rem;
		--medium-text: 1.32rem;
		--large-text: 1.52rem;
		--larger-text: 1.72rem;
		--largest-text: 1.92rem;
		--big-text: 2.2rem;
		--biger-text: 2.4rem;
		--bigest-text: 2.7rem;
		--huge-text: 3.3rem;
		--epic-text: 3.8rem;
		--giant-text: 4.3rem;
		--colossal-text: 4.8rem;
	}

	@media only screen and (min-width: $pc-s) {
		--smallest-text: 0.75rem;
		--smaller-text: 0.92rem;
		--small-text: 1.15rem;
		--medium-text: 1.35rem;
		--large-text: 1.55rem;
		--larger-text: 1.75rem;
		--largest-text: 2rem;
		--big-text: 2.3rem;
		--biger-text: 2.6rem;
		--bigest-text: 3rem;
		--huge-text: 3.5rem;
		--epic-text: 4rem;
		--giant-text: 4.5rem;
		--colossal-text: 5rem;
	}
}

$shadow-color: #131313dc;
$shadow-color2: #414141ab;
$dark-gray-color: #353535;
$header-size: 60px;
$gray-background: #EDEDED;
$dark-gray-color2: #666; 
$yellow-color: #FFC215;
$gold-color: #d49d1c;
$blue-cines: #151A4E;

:root {
	--shadow-color: #{$shadow-color};
	--shadow-color2: #{$shadow-color2};
	--header-size: #{$header-size};
	--gray-background: #{$gray-background};
	--yellow-color: #{$yellow-color};
	--gold-color: #{$gold-color};
	--blue-cines: #{$blue-cines};
	--dark-gray-color: #{$dark-gray-color};
	--dark-gray-color2: #{$dark-gray-color2};
	footer {
		--background-color: #343434;
	}
}

.gold-text {
	color: var(--gold-color);
}

@mixin text-shadow {
	text-shadow: var(--shadow-color) 0.7vmin 0.5vmin 0.7vmin, var(--shadow-color2) 0.5vmin 0.5vmin 0.8vmin;

	@media only screen and (min-width: $mobile-l) {
		text-shadow: var(--shadow-color) 0.5vmin 0.3vmin 0.5vmin, var(--shadow-color2) 0.3vmin 0.3vmin 0.6vmin;
	}
}

@mixin img-shadow {
	filter: drop-shadow(var(--shadow-color2) 0.15vmin 0.15vmin 0.2vmin);
}

@mixin box-shadow {
	box-shadow: var(--shadow-color) 0.6vmin 0.4vmin 0.6vmin, var(--shadow-color2) 0.4vmin 0.4vmin 0.7vmin;

	@media only screen and (min-width: $mobile-l) {
		box-shadow: var(--shadow-color) 0.4vmin 0.2vmin 0.4vmin, var(--shadow-color2) 0.2vmin 0.2vmin 0.5vmin;
	}
}


section {
	position: relative;

	.titulo-section {
		text-align: center;
		margin-bottom: 5vmin;

		@media only screen and (min-width: $tablet-l) {
			margin-bottom: 6vmin;
		}

		&,
		* {
			font-family: 'Futura PT';
			font-weight: 800;
			text-transform: uppercase;
			font-size: calc(var(--bigest-text) * 1.15);
		}
	}
}

.title {
	&,
	* {
		font-family: 'Futura PT';
		font-weight: 800;
		text-transform: uppercase;
		font-size: var(--bigest-text);
	}
}

figure {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.big-text {
	font-size: 1.2em !important;
}

.small-text {
	font-size: 0.9em !important;
}

.b-gray {
	background-color: var(--gray-background);
}

.section-padding {
	padding: 5.5vmin 6vmin;

	@media only screen and (min-width: $tablet-l) {
		padding: 7vmin 10vmin;
	}
}

.section-padding-y {
	padding: 5.5vmin 0vmin;

	@media only screen and (min-width: $tablet-l) {
		padding: 7vmin 0vmin;
	}
}

.section-padding-x {
	padding: 0vmin 6vmin;

	@media only screen and (min-width: $tablet-l) {
		padding: 0vmin 10vmin;
	}
}

.section-margin {
	margin: 5.5vmin 6vmin;

	@media only screen and (min-width: $tablet-l) {
		margin: 7vmin 10vmin;
	}
}

.section-margin-y {
	margin: 5.5vmin 0vmin;

	@media only screen and (min-width: $tablet-l) {
		margin: 7vmin 0vmin;
	}
}

.section-margin-x {
	margin: 0vmin 6vmin;

	@media only screen and (min-width: $tablet-l) {
		margin: 0vmin 10vmin;
	}
}

.gold-btn {
	background-color: var(--gold-color);
	&, * {
		font-weight: 900;
		font-size: var(--large-text);
		font-family: 'Futura PT' !important;
		font-weight: 500 !important;
		border: none !important;
		color: #fff !important;
	}
}


.yellow-btn {
	background-color: var(--yellow-color);
	&, * {
		color: #000;
		font-weight: 900;
		font-size: var(--large-text);
	}
}


@mixin btn-yellow($border: false) {
	@if ($border==true) {
		background-color: transparent;
		color: var(--yellow-color);
		border: 0.25rem solid var(--yellow-color);

		&:hover,
		&:focus {
			background-color: var(--yellow-color);
			color: #000;
			box-shadow: none;
		}
	}

	@else {
		background-color: var(--yellow-color);
		color: #000;
	}
}

.simpleParallax {
	width: 100%;
	height: 100%;
}

.btn-effect{
	position: relative;
	overflow: hidden;
	&, *{
		position: relative;    
		z-index: 2;              
	}
	&:before{
		top: 0;
		left: -100%;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #ffffff2f;
		transition: all ease-out 0.4s;
		z-index: 1;
	}
	&:hover{
		&:before{
			left: 0%;
			transition: all ease-out 0.4s;
		}    
	}
}

$slick-dot-color-slider: #ffffff !default;
$slick-dot-color-active-slider: $slick-dot-color-slider !default;
$slick-opacity-default-slider: 1 !default;
$slick-opacity-on-hover-slider: 0.75 !default;
$slick-opacity-not-active-slider: 0.40 !default;

.slider-section{
	.slider-container-section{
		.slick-arrow {
			opacity: 0.9;
			z-index: 2;
			border-radius: 0.5rem;
			padding: 0.5rem;
			width: 75px;
			height: 75px;

			&:active {
				opacity: 1;
			}
		}

		.slick-next {
			right: 1%;
		}

		.slick-prev {
			left: 1%;
		}

		.slick-dots{
			bottom: 20px;
			li {
				button {
					&:hover, &:focus {
						&:before {
							opacity: $slick-opacity-on-hover-slider;
						}
					}
					&:before {
						color: $slick-dot-color-slider;
						opacity: $slick-opacity-not-active-slider;
					}
				}
				&.slick-active button:before {
					color: $slick-dot-color-active-slider;
					opacity: $slick-opacity-default-slider;
				}
			}
		}

		.slide-content{
			width: 100%;
			height: 75vh;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}