section.contacto{
    margin-bottom: 0 !important;
    .full-container{
        width: 100%;
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-column-gap: 5vmin;
        grid-row-gap: 10vmin;
        #mapa{
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 500px;
            grid-row: 2 / 3;
        }

        .contacto-info{
            display: flex;
            flex-direction: column;
            align-items: center;
            .container{
                width: 90%;
                @media only screen and (min-width: $laptop-s) {
                    width: 75%;
                }
                @media only screen and (min-width: $pc-s) {
                    width: 50%;
                }
                .logo{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 2vmin;
                    svg, img{
                        width: 75%;
                        height: 100%;
                    }
                }
                .info{
                    margin-top: 2rem;
                    text-align: center;
                    &, *{
                        font-size: var(--large-text);  
                    }
                }
            }
        }

        @media only screen and (min-width: $laptop-s) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            #mapa{
                grid-row: auto;
            }
        }
    }
}