footer {
    position: relative;
    min-height: 200px;
    height: 28vmin;
    @media only screen and (min-width: $laptop-l) {
        min-height: 250px;
    }
    .wave{
        position: absolute;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    .info-footer{
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        height: 100%;
        .redes{
            padding: 2vmin;
            justify-content: center;
            .icono{
                padding: 0 0.5rem;
                img{
                    width: 40px;
                    height: 40px;
                }
            }
            @media only screen and (min-width: $mobile-l) {
                justify-content: space-between;
            }
            @media only screen and (min-width: $laptop-l) {
                padding: 4vmin 8vmin;
                .icono{
                    padding: 0 1rem;
                    img{
                        width: 60px;
                        height: 60px;
                    }
                }
            }

        }

        .nav-link{
            color: #777777;
            font-size: var(--largest-text);
        }
    }
}