html, body {
    overflow-x:hidden 
}

section{
    width: 100%;
    position: relative;
    margin-bottom: 10vmax;
    @media only screen and (min-width: $laptop-s) {
        margin-bottom: 8vmax;
    }
    @media only screen and (min-width: $laptop-l) {
        margin-bottom: 12vmax;
    }
    .mancha, .mancha2{
        z-index: -10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        justify-content: flex-end;
        display: flex;
        svg, img{
            width: 33vmin;
            position: relative;
            top: -20vmin;
        }

        @media only screen and (min-width: $laptop-s) {
            justify-content: center;
            svg, img{
                top: -25vmin;
            }
        }
    }
    .mancha2{
        justify-content: flex-start;
        svg, img{
            width: 34vmin;
            top: -17vmin;
        }
        @media only screen and (min-width: $laptop-s) {
            justify-content: center;
            svg, img{
                width: 40vmin;
                top: -30vmin;
            }
        }
        @media only screen and (min-width: $laptop-l) {
            svg, img{
                width: 50vmin;
                top: -25vmin;
            }
        }
    }
    .double-column-container{
        align-items: center;

        .imagen-section{
            .imagen-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    width: 75%;
                    height: 100%;
                    @media only screen and (min-width: $laptop-s) {
                        width: 100%;
                    }
                }
            }
        }

            
        .info-categoria{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media only screen and (min-width: $laptop-s) {
                margin-top: -8vmin;
            }
            .img-title{
                width: 100%;
                display: flex;
                justify-content: center;
                position: relative;
                img,svg{
                    position: relative;
                    width: 60%;
                    height: 100%;
                    @media only screen and (min-width: $laptop-s) {
                        width: 40%;
                    }
                }
            }
            .info{
                width: 95%;
                @media only screen and (min-width: $laptop-s) {
                    width: 80%;
                }
                position: relative;
                left: 8vmin;
                margin-top: 5vmin;
                &:before{
                    content: "";
                    height: 100%;
                    width: 2vmin;
                    position: absolute;
                    background-color: #000;
                    left: -6vmin;
                }
                &, *{
                    font-family: 'Courier Prime';
                    font-size: var(--medium-text);
                }

                ul {
                    list-style:none;
                    padding-left: 1em;
                    li {
                        &:before {
                            content: '';
                            display: inline-block;
                            height: 0.75em;
                            width: 0.75em;
                            background-image: url(../img/iconos/next.svg);
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin-right:0.5em;   
                          }
                    }
                }
            }
        }
    }
}

.double-column-container{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-column-gap: 5vmin;
    grid-row-gap: 4vmin;

    @media only screen and (min-width: $laptop-s) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

#nosotros, #thankU{
    margin-top: var(--header-size);
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    .double-column-container{
        grid-row-gap: 12vmin;
    }
}

#nosotros, #relajate, #thankU{
    @media only screen and (min-width: $laptop-s) {
        min-height: calc(100vh - var(--header-size));
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 500px;
    }
    .imagen-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 80vmin;
        @media only screen and (min-width: $mobile-xs) {
            padding-bottom: 70vmin;
        }
        @media only screen and (min-width: $mobile-s) {
            padding-bottom: 30vmin;
        }
        @media only screen and (min-width: $mobile-m) {
            padding-bottom: 10vmin;
        }
        @media only screen and (min-width: $mobile-l) {
            padding-bottom: 5vmin;
        }
        @media only screen and (min-width: $tablet-s) {
            padding-bottom: 0vmin;
        }
        
        .imagen-container{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 85%;
            }
            .texto-chilside{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                .texto{
                    margin-top: 67%;
                    width: 100%;
                    &, *{
                        font-family: 'Courier Prime';
                        font-size: var(--medium-text);
                        text-align: justify;
                        @media only screen and (min-width: $mobile-m) {
                            font-size: calc(var(--medium-text) * 0.85 );
                        }
                        @media only screen and (min-width: $laptop-m) {
                            font-size: var(--medium-text);
                        }
                    }
                    @media only screen and (min-width: $laptop-m) {
                        width: 80%;
                    }
                }
            }
        }
    }
}

.formulario-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    form{
        display: flex;
        flex-direction: column;
        width: 100%;
        @media only screen and (min-width: $laptop-m) {
            width: 75%;
        }
        textarea, input{
            background-color: #858be7a6;
            padding: 0.9rem;
            color: #272727;
            border: none;
            &::placeholder{
                color: #393B51;
            }
            margin-bottom: 4.8vmin;
            font-size: var(--medium-text);
        }

        input[type=submit]{
            background-color: #f29cb0a2;
            color: #fff;
            width: 50%;
            align-self: flex-end;
        }
    }
}

.head-gracias{
    font-size: xx-large;
    text-align: center;
}

#thankU{
    text-align: center;
    margin-bottom: 7vmax;
    img{
        width: 30vh;
    }
    @media only screen and (max-width: 1023px) {
        margin-top: 11vmax;
    }
    @media only screen and (min-width: 1023px) {
        font-size: var(--large-text);
        b, p{
            font-size: var(--large-text);
        }
    }
}

#programacion{
    .double-column-container{
        .imagen-section{
            grid-row: 2 / 3;
            @media only screen and (min-width: $laptop-s) {
                grid-row: auto;
            }
        }
    }
}

#clientes{
    .chillers-slider{
        padding: 8vmin 0;
        margin-top: 5vmin;
        width: 100%;
        height: auto;
        border-radius: 5vmin;
        background-color: #ff574a94;
        .slickMarcas{
            width: 80%;
            margin: 0 auto;
            .slick-dots{
                bottom: -20px;
            }

            .slick-prev {
                left: 0px;
            }
            .slick-next {
                right: -15px;
            }
            .slick-prev, .slick-next {
                img, svg{
                    width: 30px;
                    height: 30px;
                }
            }   
            @media only screen and (min-width: $mobile-m){
                .slick-next {
                    right: -15px;
                }
                .slick-prev {
                    left: -15px;
                }
                .slick-prev, .slick-next {
                    img, svg{
                        width: 40px;
                        height: 40px;
                    }
                }   
            }
            @media only screen and (min-width: 1200px){
                width: 85%;
            }
            @media only screen and (min-width: 1600px){
                width: 90%;
            }
            .box{
                .img{
                    img{          
                        width: 95%;        
                        object-fit: contain;
                        @media only screen and (min-width: $mobile-m){
                            width: 85%;
                            max-width:none;
                        }
                    }
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: 150px;
                }
            }
        }
    }
}

#marketing{
    .info-categoria{
        margin-top: -8vmin;
    }    
    .info{
        ul {
            li {
                &:before {
                    background-image: url(../img/iconos/next-yellow.svg);
                  }
            }
        }
    }
}

#programacion{
    .info{
        ul {
            li {
                &:before {
                    background-image: url(../img/iconos/next-pink.svg);
                  }
            }
        }
    }
}

#diseno{
    .info{
        ul {
            li {
                &:before {
                    background-image: url(../img/iconos/next-blue.svg);
                  }
            }
        }
    }
}

#relajate{
    margin-bottom: 3vmax !important;
    .imagen-section{
        padding-bottom: 6vmin !important;
    }
}